// Font
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap');

// Variables
$clr-neutral-100: #FFFFFF;
$clr-primary: #242943;
$clr-secondary: #9bf1ff;

$font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, 
  helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;

// General rules
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: $clr-primary;
  color: $clr-neutral-100;
  font-family: $font-family;
}

h1, h2, h3, ul, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

// Header
header {
  background: $clr-primary;
  padding-block: 1.5rem;
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.25rem 0;
}

nav {
  // Min in uppercase to force the parser to use the CSS version of min or max. Otherwise live sass compilation throws error 
  width: MIN(90%, 1500px);
  margin-inline: auto;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25rem;

  li {
    cursor: pointer;
    transition: color 0.3s;

    &:hover, &:focus, &:active {
      color: $clr-secondary;
    }
  }
}

// Hero
.hero {
  width: MIN(90%, 1500px);
  margin-inline: auto;
  padding-block: 9.5rem;

  h1 {
    font-size: 3.3rem;
  }

  hr {
    border: 1px solid $clr-neutral-100;
    margin-block: 2.5rem;
  }

  div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  button {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    background: none;
    border: 2px solid $clr-neutral-100;
    padding: 0.8rem 1.6rem;
    color: $clr-neutral-100;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: $font-family;
    font-weight: 600;
    letter-spacing: 0.25rem;
    transition: color 0.3s, border-color 0.3s;

    &:hover, &:focus, &:active {
      color: $clr-secondary;
      border-color: $clr-secondary;
    }
  }
}

// Projects
.projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  display: flex;
  align-items: center;
  height: 40vh;
  max-height: 40rem;
  min-height: 23rem;
  overflow: hidden;
  position: relative;
  width: 40%;
  padding: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  color: $clr-neutral-100;

  .info {
    width: max-content;
    position: relative;
    z-index: 3;
  }

  h3 {
    font-size: 2rem;
  }

  hr {
    border: 1px solid $clr-neutral-100;
    margin-block: 1.2rem;
  }

  p {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.85;
    height: 100%;
    width: 100%;
    z-index: 2;
    transition: opacity 0.5s ease;
  }

  &:hover::before {
    opacity: 0;
  }

  &:nth-child(4n - 1), &:nth-child(4n - 2) {
    width: 60%;
  }

  // Projects color and picture
  &:nth-child(1) {
    background-image: url('assets/pic01.jpg');

    &::before {
      background-color: #6fc3df;
    }
  }

  &:nth-child(2) {
    background-image: url('assets/pic02.jpg');

    &::before {
      background-color: #8d82c4;
    }
  }

  &:nth-child(3) {
    background-image: url('assets/pic02.jpg');

    &::before {
      background-color: #ec8d81;
    }
  }

  &:nth-child(4) {
    background-image: url('assets/pic01.jpg');

    &::before {
      background-color: #e7b788;
    }
  }
}
